body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333366;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #333366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    background-color: #444477;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.select-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.submit-button {
    margin-top: 10px;
}

#file {
    display: none;
}

#directoryPath {;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 600px) {
    .search-container {
        flex-direction: column;
        align-items: stretch;
    }

    button {
        width: 30%;
    }

    .submit-button {
        width: 100%;
    }
}