<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foogle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foogle.css') }}">
    <script type="text/javascript">
        function openWindowWithClose(url) {
            const newWindow = window.open(url, '_blank');
            if (newWindow) {
                setTimeout(function () {
                    newWindow.close();
                }, 1500);
            }
        }
    </script>
    <script type="text/javascript">
        function toggleRank() {
            const logicValue = document.querySelector('input[name="logic"]:checked').value;
            const rankCheckbox = document.getElementById('rankCheckbox');
            rankCheckbox.disabled = logicValue === 'not';
        }
    </script>
</head>
<body onload="toggleRank()">
<h1>FOOGLE</h1>
<form method="POST" action="/">
    <div class="search-container">
        <input type="text" name="query" value="{{ query }}" placeholder="Enter your search query">
        <button type="submit">Search</button>
    </div>
    <div class="settings-container">
        <div class="logic-container">
            <p class="description">Search mode:</p>
            <label>
                <input onclick="toggleRank()" type="radio" name="logic" value="and" {% if logic == 'and' %}checked{% endif %}>
                AND
            </label>
            <label>
                <input onclick="toggleRank()" type="radio" name="logic" value="or" {% if logic == 'or' %}checked{% endif %}>
                OR
            </label>
            <label>
                <input onclick="toggleRank()" type="radio" name="logic" value="not" {% if logic == 'not' %}checked{% endif %}>
                NOT
            </label>
        </div>
        <div class="rank-container">
            <p class="description">Sorting:</p>
            <label>
                <input id="rankCheckbox" type="checkbox" name="rank" {% if rank %}checked{% endif %}>
                Ranking
            </label>
        </div>
    </div>
</form>

{% if results %}
<h2>RESULTS</h2>
<ul>
    {% for result in results %}
    <li>
        <strong>PATH:</strong>
        <span class="title-with-margin">
            <a href="#" onclick="openWindowWithClose('{{ url_for('open_file', filepath=result.title|safe) }}');
            return false;">{{ result.title|safe }}</a>
        </span><br>
        {% if result.snippet %}
            <strong>CONTENT:</strong>
            <pre style="white-space: pre-wrap;">{{ result.snippet|safe }}</pre>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No results found</p>
{% endif %}
</body>
</html>
