<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foogle Indexer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foogle.css') }}">
</head>
<body>
<h1>FOOGLE</h1>
<form method="POST" action="/">
    <div class="search-container">
        <input type="text" name="path" value="{{ path }}" placeholder="Enter folder path">
        <button type="submit">Index</button>
    </div>
</form>
</body>
</html>
